.navbar-custom {
    height: 60px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-custom .navbar-brand {
    position: absolute !important;
    left: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    margin: 0 !important;
    z-index: 3 !important;
}

.navbar-custom .navbar-nav {
    position: absolute !important;
    right: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    margin: 0 !important;
    z-index: 3 !important;
}
